* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

div {
  display: flex;
  flex-direction: column;
}

span {
  text-align: center;
  font-size: 3rem;
  color: white;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: black;
  font-size: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
}
